h1 a {

    margin: 0 auto;
    padding: 20px 0;
    border: 1px solid silver;
    background: #fafafa
    color: #4d4234;
    text-shadow: 3px 3px 1px black;
    position: relative;
    z-index: 0;
}

.title{
    background-color: #ff3250;
}

p {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 3px;
    border: 1px solid silver;
    background: #fafafa
    position: relative;
    z-index: 1;
}

body {

    width: 600px;
    margin: 0 auto;

    padding: 0 20 px 20 px 20px;
    border: 5px solid black;
}

.search_block form {
  width: 300px;
  height: 50px;
  display: flex;
  margin: 0 auto;
}
input.search {
  width: calc(100% - 54px);
  height: auto;
  background-color: #c1c1c1;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 0;
  padding-left: 15px;
}
input.submit {
  background: url("https://img.icons8.com/ffffff/search") center center/50% auto
    no-repeat #4b9e40;
  border: 0;
  width: 54px;
  height: auto;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}


